 body {
            background-color: #f73572a6;
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .container {
            padding: 60px;
        }

        .card {
            background: #ffdcdcfb;
            border: 1px solid black;
            border-radius: 5px;
            text-align: center;
            font-size: 35px;
            padding: 5px;
            margin: 10px;
            display: inline-block;
            width: 50%; 
        }

        .card a {
            text-decoration: none;
            color: inherit;
        }

        .card h2 {
            margin: 0;
            font-size: 35px;
            color: #f73572a6;
        }
 .btn-default {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            color: #212529;
        }
        .btn-default:hover {
            background-color: #e2e6ea;
            color: #212529;
        }
        .btn-custom {
            border-radius: 0.25rem; 
        }
