body {
    background-color: beige;
}

header {
    text-align: center;
    font-size: xx-large;
    color: steelblue;
    padding: 20px 0;
}

.conteudo {
    padding: 10px;
}

.row {
    padding: 20px;
}

.img1, .img2, .img3, .img4 {
    width: 100%;
    height: auto;
}
