body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
#menu { 
    background-color: #6782ce;
    padding: 10px;
    border-bottom: 2px double #302e2e;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

#rodape {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-top: 2px outset #302e2e;; 
    margin-top: 10px;
}
form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea {
    margin-bottom: 0.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

