 .conteiner{
    clear: both;
  }
   .borboleta{
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
  }
    .pizza{
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
}

        .box1{
            width: 100px;
            height: 100px;
            float: left;
          background: red; 
          border-radius: 100px 190px 5px 190px;
        }
        .box2{
            width: 100px;
            height: 100px;
            float: left;
            background: orange; 
          border-radius: 190px 100px 190px 5px;
        }
        .box3{
             width: 100px;
            height: 100px;
            float: left;
            background: green; 
          border-radius: 190px 5px 190px 100px;
        }
        .box4{
             width: 100px;
            height: 100px;
            float: left;
           background: purple; 
          border-radius: 5px 190px 100px 190px
        }
        .box5{
            width: 100px;
            height: 100px;
             float: left;
          background: red;
          border-radius: 250px 6px 6px 6px;
        }
        .box6{
             background: orange;
           width: 100px;
            height: 100px;
             float: left;
          border-radius: 6px 250px 6px 6px;
        }
        .box7{
            width: 100px;
            height: 100px;
            float: left;
           background: green; 
          border-radius: 6px 6px 6px 250px;
        }
        .box8{
            width: 100px;
            height: 100px;
            float: left;
            background: purple;
          border-radius: 6px 6px 250px 6px;
        }
